<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Добавить контест</title>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
    	/**
             * Adjust the indices of form fields when removing items.
             Переписать на typescript + react
             */
            function adjustIndices(removedIndex) {
                var $forms = $('.subform');

                $forms.each(function(i) {
                    var $form = $(this);
                    var index = parseInt($form.data('index'));
                    var newIndex = index - 1;

                    if (index < removedIndex) {
                        // Skip
                        return true;
                    }

                    // Change ID in form itself
                    $form.attr('id', $form.attr('id').replace(index, newIndex));
                	$form.attr('data-index', $form.attr('data-index').replace(index, newIndex));
                    $form.data('index', newIndex);

                    // Change IDs in form inputs
                    $form.find('input').each(function(j) {
                        var $item = $(this);
                        $item.attr('id', $item.attr('id').replace(index, newIndex));
                        $item.attr('name', $item.attr('name').replace(index, newIndex));
                    });

                    $form.find('label').each(function(idx) {
                    	var $item = $(this);

                    	$item.attr('for', $item.attr('for').replace(index, newIndex));
                	});

                	$form.find('select').each(function(j) {
                        var $item = $(this);
                        $item.attr('id', $item.attr('id').replace(index, newIndex));
                        $item.attr('name', $item.attr('name').replace(index, newIndex));
                    });
                });
            }

            /**
             * Remove a form.
             */
            function removeForm() {
                var $removedForm = $(this).closest('.subform');
                var removedIndex = parseInt($removedForm.data('index'));

                $removedForm.remove();

                // Update indices
                adjustIndices(removedIndex);
            }

            /**
             * Add a new form.
             */
            function addForm() {
                var $templateForm = $('#tasks-_-form');

                if (!$templateForm) {
                    console.log('[ERROR] Cannot find template');
                    return;
                }

                // Get Last index
                var $lastForm = $('.subform').last();

                var newIndex = 0;

                if ($lastForm.length > 0) {
                    newIndex = parseInt($lastForm.data('index')) + 1;
                }

                // Maximum of 20 subforms
                if (newIndex > 20) {
                    console.log('[WARNING] Reached maximum number of elements');
                    return;
                }

                console.log($templateForm);

                // Add elements
                var $newForm = $templateForm.clone();

                $newForm.attr('id', $newForm.attr('id').replace('_', newIndex));
                $newForm.attr('data-index', $newForm.attr('data-index').replace('_', newIndex));
                $newForm.data('index', newIndex);

                $newForm.find('input').each(function(idx) {
                    var $item = $(this);

                    $item.attr('id', $item.attr('id').replace('_', newIndex));
                    $item.attr('name', $item.attr('name').replace('_', newIndex));
                });

                $newForm.find('label').each(function(idx) {
                    var $item = $(this);

                    $item.attr('for', $item.attr('for').replace('_', newIndex));
                });

                $newForm.find('select').each(function(idx) {
                    var $item = $(this);

                    $item.attr('id', $item.attr('id').replace('_', newIndex));
                    $item.attr('name', $item.attr('name').replace('_', newIndex));
                });

                // Append
                $('#tasks-container').append($newForm);
                $newForm.addClass('subform');
                $newForm.removeClass('is-hidden');

                $newForm.find('.remove').click(removeForm);
            }


            $(document).ready(function() {
                $('#add').click(addForm);
                $('.remove').click(removeForm);
            });
    </script>
    <style>
        .is-hidden {
            display: none;
        }
        textarea {
            width: 41em;
            height: 30em;
        }

        #submit {
            width: 7em;
        }

        input {
            width: 40em;
        }

    </style>
</head>
<body>
    <p><a href="/contests">К списку</a></p>

	<form action="" method="post" enctype="multipart/form-data">

	    {{ form.csrf_token() }}

	    {% for field in form if field.name != "csrf_token" and field.name != "tasks" %}
		<p>{{ field.label() }}</p>
		<p>{{ field }}
		    {% for error in field.errors %}
			{{ error }}
		    {% endfor %}
		</p>
	    {% endfor %}

		<a id="add" href="#add">Добавить задачу</a>

		<div id="tasks-container">
	        {% for task in form.tasks %}
	            <div id="tasks-{{ loop.index0 }}-form" class="subform" data-index="{{ loop.index0 }}">

		   	 		{{ task.csrf_token() }}
	                {{ task.task.label }}
	                {{ task.task }}

	                <a class="remove" href="#add">Удалить</a>
	            </div>
	        {% endfor %}
        </div>
    </form>

    {# Form template #}
    <div id="tasks-_-form" class="is-hidden" data-index="_">
    	<input id="tasks-_-csrf_token" name="tasks-_-csrf_token" type="hidden" value="{{ form.csrf_token._value() }}">

    	<label for="tasks-_-task">Задача: </label>
        <select id="tasks-_-task" name="tasks-_-task" type="text" required>
        	{% for (id, task) in form.tasks[0].task.choices %}
        		<option value="{{ id }}">{{task}}</option>
        	{% endfor %}
        </select>
        <a class="remove" href="#add">Удалить</a>
    </div>

    {% if form.errors %}
            {{ form.errors }}
    {% endif %}

    {# Show submitted data #}
    {% if data is defined %}
        <p>
            Received data: 
            {{ data }}
        </p>
    {% endif %}

</body>
</html>