<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>man task_base</title>
    <style>
    	.inline {
            display: inline-block;
    	}
    	.necessary {
    		display: inline-block;
    		color: red;
    	}
    	.not_neccessary {
    		display: inline-block;
    		color: green;
    	}
    </style>
</head>
<body>
	<p><a href="/">На главную</a></p>
    <div style="width: 30%; margin: 0 auto">
		<ol>
			<li>Первым делом нужно зарегистрироваться. Все пароли я храню в зашифрованном виде и имею доступ только к хешам. Смена пароля пока не предусмотрена, но если вам очень надо - можете попросить меня удалить вашего пользователя из базы и создать нового с новым паролем.</li>
			
			<li>Для того чтобы войти вам нужно дождаться подтверждения администратора. Пока подверждать может только <div class="inline" title="На самом деле Олег Богданович тоже имеет к этому доступ, но не занимается этим">Владислав Невструев.</div></li>
			<li>До подтверждения вы имеете доступ только к этой странице, списку тегов, страницам авторизации и регистрации. После подтверждения вам доступен весь имеющийся функционал.</li>
		</ol>
		<details>
			<summary>Работа с тегами</summary>
			<ol>
				<li>Чтобы добавить тег, вы можете на главной странице нажать кнопку <a href="/add/tag">Добавить тег</a></li>
				<li>Вы можете редактировать теги. Для этого в <a href="/tags">Списке тегов</a> необходимо нажать кнопку <a href="/edit_tag/38">Редактировать</a>. Откроется такая же форма, как и при добавлении тега, но с уже заполненными полями, которые вы можете как угодно исправлять.</li>
				<li>При добавлении тега есть следующие поля:
					<ol>
						<li>Тег. Название тега на <div class="inline" title="Наверное, в будущем можно будет перевести все теги на русский, но пока оставим так">английском языке.</div></li>
						<li>Родитель. У каждого тега, кроме самых основных, есть <div class="inline" title="Я знаю, что есть convex hull trick, у которого родителем может быть как выпуклая оболочка, так и оптимизации динамики. В основном он используется для оптимизаций динамики, поэтому предлагаю его родителем назначить динамику. В остальных спорных случаях предлагаю собираться и обсуждать, что делать с тегом.">один</div> родитель. Например, дерево отрезков - это структура данных, поэтому тег "Дерево отрезков" - ребенок тега "Структуры данных". Если вы добавляете новый основной тег, то не указывайте у него родителя. Иначе выберите наиболее подходящего родителя из списка.</li>
					</ol>
				</li>
			</ol>
		</details>
		<details>
			<summary>Работа с задачами</summary>
			<ol>
				<li>Чтобы добавить задачу, вы можете на главной странице нажать кнопку <a href="/add/task">Добавить задачу</a>. Я не рекомендую такой способ добавления задачи, поскольку их потом будет несколько труднее собирать в контест. Рекомендуемый способ смотрите <a href="#reccomend">в работе с контестами.4.2</a>. Однако, если вы пока не хотите, чтобы новая задача содержалась в каком-либо контесте, то это единственный способ добавить задачу.</li>

				<li>Также задачу можно редактировать. Для этого на странице задачи, например <a href="/task/72">здесь</a> требуется нажать на кнопку <a href="/edit_task/72">Редактировать задачу</a>. Откроется такая же форма, как и при добавлении задачи, но с уже заполненными полями, которые вы можете как угодно исправлять.</li>

				<li>При добавлении задачи есть следующие поля:
					<ol>
						<li>Название. Тут все понятно. <div class="necessary"> Поле обязательное</div></li>
						<li>Короткое условие. Здесь следует коротко написать, что надо сделать в задаче. Желательно обойтись 1-2 предложениями. <div class="necessary"> Поле обязательное</div></li>
						<li>Полное условие. Пока я сюда просто копирую условие из Яндекс.Контеста. В будущем добавлю возможность загрузки файла. В любом случае, смысл этого поля - показать условие так, как его видят участники контеста. <div class="not_neccessary">Поле не обязательное</div></li>
						<li>Разбор. Тут можно написать решение. В будущем добавиться возможность загружать файл. <div class="not_neccessary">Поле не обязательное</div></li>
						<li>Примерная сложность. Здесь я пишу число от 1 до 100, насколько сложной мне кажется задача. Это очень субъективное понятие, которое у меня в разные дни бывает разным. В будущем мы придумаем какую-нибудь метрику, пока ставьте по <div class="inline" title="Не надо ставить всем задачам 1 если вы в этом году едете на финал. Предполагается, что сложные задачи с финала имеют сложность 100, а самые простые с четвертьфинала не проще 20.">своему усмотрению</div>. <div class="not_neccessary">Поле не обязательное, по умолчанию 0</div></li>
						<li>Источник. Здесь мы указываем, откуда Снарк может взять эту задачу для наших нужд. Если задача с Яндекс.Контеста, то достаточно написать ЯК <номер контеста> <номер задачи>. Важно, чтобы по источнику можно было однозначно добраться до задачи.<div class="necessary">Поле обязательное</div></li>
						<li>Todo. Какие-либо косяки, замеченные в задаче. В основном, слабые тесты, пропускающие долгие решения. Бывают опечатки в условии, ненаписанный разбор и прочее. <div class="not_neccessary">Поле не обязательное</div></li>
						<li>Теги. То, ради чего делалась база. Вы можете добавить тег, нажав на кнопку <a href="/add/task/#add">Добавить тег</a>. После этого появится еще одно поле для тега. Тег нужно выбрать в <div class="inline" title="Я знаю, что это неудобно, в будущем придумаю, что с этим сделать">выпадающем списке.</div> Если вы добавили слишком много полей, можно их убрать кнопкой <a href="/add/task/#del">Удалить</a>. Все теги представлены в виде дерева. Если вы выбрали какой-либо тег, нет смысла выбирать всех его родителей - они появятся в базе автоматически. <div class="necessary"> Поле обязательное, необходим хотя бы один непустой тег</div></li>
					</ol>
				</li>
			</ol>
		</details>
		<details>
			<summary>Работа с контестами</summary>
			<ol>
				<li>Чтобы добавить контест, вы можете на главной странице нажать на кнопку <a href="/add/contest">Добавить контест</a>.</li>
				<li>Вы можете редактировать контест. Для этого на странице контеста, например <a href="/contest/1">здесь</a> требуется нажать на кнопку <a href="/edit_contest/1">Редактировать</a>. Откроется такая же форма, как и при добавлении контеста, но с уже заполненными полями, которые вы можете как угодно исправлять.</li>
				<li>Вы также можете копировать контесты. Для этого требуется нажать на кнопку <a href="/add/contest/?c_id=1">Копировать</a>. Откроется такая же форма, как и при редактировании контеста, но при отправке создастся новый, а не отредактируется старый. Этот функционал нужен для быстрого добавления контестов из Летних и Зимних олимпиадных школ, которые довольно похожи друг на друга.</li>
				<li>В контест можно добавлять задачи. Есть два пути, как это можно сделать:
					<ol>
						<li>Добавить уже существующую в базе задачу. Это можно сделать через редактирование контеста и добавления задачи внизу страницы</li>
						<li id="reccomend">Добавить новую задачу в базу. Для этого на странице контеста требуется нажать на кнопку <a href="/add/task/?c_id=1">Добавить новую задачу</a>. Откроется интерфейс добавления новой задачи, однако при добавлении задача автоматически окажется в новом контесте. Это <div class="not_neccessary">рекомендуемый</div> способ добавлять задачи в базу.</li>
					</ol>
				</li>
				<li>При добавлении контеста есть следующие поля:
					<ol>
						<li>Название. Тут все понятно. <div class="necessary"> Поле обязательное</div></li>
						<li>Год. Год проведения контеста. <div class="necessary"> Поле обязательное</div></li>
						<li>Описание. Тут требуется пояснить, что это за контест. Является ли он тематическим, либо каким-либо официальным соревнованием. <div class="necessary"> Поле обязательное</div></li>
						<li>Ссылка на контест. В основном, я указываю здесь ссылку на таблицу результатов контеста, но подойдет также любая ссылка, через которую можно добраться до контеста. <div class="necessary"> Поле обязательное</div></li>
						<li>Ссылка на разбор. Я планирую в будущем поменять ее на загрузку файла разбора. <div class="not_neccessary"> Поле не обязательное, но вставить можно только корректную ссылку</div></li>
						<li>Список задач. Здесь можно выбрать, какие задачи из имеющихся в базе вы хотели бы добавить в этот контест. Для добавления задач, которых в базе пока нет, воспользуйтесь <a href="#reccomend">рекомендуемым</a> методом. В частности, вы можете оставить этот список пустым, если все задачи из контеста новые, однако для этого требуется явно удалить изначальное пустое поле из списка.</li>
					</ol>
				</li>
			</ol>
		</details>
		<details>
			<summary>Просмотр содержимого</summary>
			<ol>
				<li>Для просмотра списка тегов на главной странице нажмите кнопку <a href="/tags">Список тегов</a>. Он отобразится в виде дерева тегов. Рядом с каждым тегом появится кнопка для его редактирования.</li>
				<li>Для просмотра списка задач на главной странице нажмите кнопку <a href="/tasks">Список задач</a>. Он отобразится в виде списка задач. Рядом с каждой задачей появится кнопка для просмотра страницы задачи. Это единственный способ увидеть полное условие задачи. Также есть возможность фильтровать задачи по тегам. Для этого сверху страницы есть фильтр, который демонстрирует только те задачи, которые имеют все запрошенные вами теги. Для сброса фильтра сделайте запрос с пустым набором тегов. </li>
				<li>Для просмотра списка контестов на главной странице нажмите кнопку <a href="contests">Список контестов</a>. Он отобразится в виде списка контестов. Рядом с каждым контестом появится ссылка на этот контест, разбор контеста, а также ссылку на страницу контеста и копированя контеста. На странице контеста отобразится список задач, которые в него входят, а также ссылки на контест, разбор, добавления новой задачи, редактирования и копирования контеста.</li>
			</ol>
		</details>
	</div>
</body>
</html>