<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Контесты</title>

    <style>
        .is-hidden {
            display: none;
        }
       
       	table, th, td {
       		border-collapse: collapse;
			border: 1px solid grey;
       	}
       	td {
       		min-width: 100px;
       	}

    </style>
</head>
<body>
	<p><a href="/">На главную</a></p>
	<p><a href="/add/contest">Добавить контест</a></p>

    <table>
		<tr>
			<th>ID</th>
			<th>Название</th>
			<th>Год</th>
			<th>Описание</th>
			<th>Источник</th>
			<th>Разбор</th>
			<th>Контест</th>
			<th>Копировать</th>
		</tr>
		{% for contest in contests %}
			<tr>
				<td>{{ contest['id'] }}</td>
				<td>{{ contest['name'] }}</td>
				<td>{{ contest['year'] }}</td>
				<td>{{ contest['description'] }}</td>
				<td><a href="{{ contest['link'] }}">Источник</a></td>
				<td><a href="{{ contest['tutorial'] }}">Разбор</a></td>
				<td><a href="/contest/{{contest['id']}}">Контест</a></td>
				<td><a href="/add/contest/?c_id={{contest['id']}}">Копировать</a></td>
			</tr>
		{% endfor %}
	</table>
</body>
</html>