<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Теги</title>

    <style>
        .is-hidden {
            display: none;
        }
       
       	table, th, td {
       		border-collapse: collapse;
			border: 1px solid grey;
       	}
       	td {
       		min-width: 100px;
       	}

    </style>
</head>
<body>
	<p><a href="/">На главную</a></p>
	<p><a href="/add/tag">Добавить тег</a></p>
	<table>
		<tr>
			<td>
			    <table>
					<tr>
						<th>ID</th>
						<th>Тег</th>
						<th>Редактировать</th>
					</tr>
					{% for tag in tag_list %}
						<tr>
							<td>{{ tag[0] }}</td>
							<td>{{ tag[1] }}</td>

							<td><a href="edit_tag/{{tag[0]}}">Редактировать</a>
							</td>
						</tr>
					{% endfor %}
				</table>
			</td>
		</tr>
	</table>
</body>
</html>