<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{task['name']}}</title>
    <style>
    	.title {
    		text-align: center;
    		font-weight: bold;
    	}
    </style>
	
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.6/MathJax.js?config=TeX-AMS_HTML">
        MathJax.Hub.Config({
            tex2jax: {
                inlineMath: [ ['$','$'], ["\\(","\\)"] ],
                displayMath: [ ['$$','$$'], ["\\[","\\]"] ],},
            TeX: {equationNumbers: {
                autoNumber: "AMS"
              },Augment: {  Definitions: {
               macros: {
                 overbracket:  ['UnderOver','23B4',1],
                 underbracket: ['UnderOver','23B5',1],
               }
             }}},
        });
    </script>
</head>
<body>
    <div style="width: 30%; margin: 0 auto">
    	<p><a href="/tasks">К списку</a></p>
    	<p class = "title">{{task['id']}} {{task['name']}}</p>
    	<p>{{task['statement']}}</p>
    	<p class = "title">Разбор</p>
    	<p>{{task['tutorial']}}</p>
    	<p class = "title">Сложность</p>
    	<p>{{task['complexity']}}</p>
    	<p class = "title">Source</p>
    	<p>{{task['source']}}</p>
    	<p class = "title">TODO</p>
    	<p>{{task['todo']}}</p>
    	<p class = "title">Tags</p>
    	<p>
    		{% for tag in tags %}
    			{{tag['tag']}}
    		{% endfor %}
    	</p>
    	<p><a href="/edit_task/{{task['id']}}">Редактировать задачу</a></p>
    </div>

</body>
</html>