<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TODO list</title>
    <style>
    	.inline {
            display: inline-block;
    	}
    	.necessary {
    		display: inline-block;
    		color: red;
    	}
    	.not_neccessary {
    		display: inline-block;
    		color: green;
    	}
    </style>
</head>
<body>
	<p><a href="/">На главную</a></p>
    <div style="width: 30%; margin: 0 auto">
    	<p>Первоочередные задачи</p>
		<ol>
			<li>
				Добавить возможность вместо копирования условия загружать файл с условием.
			</li>
			<li>Добавить возможность загружать файл с разбором в контест.</li>
			<li>Добавить возможность по задаче смотреть список контестов, в котором она есть.</li>
			<li>Заменить хранение условий в базе на обычное файловое хранилище, а в базе хранить только ссылки на файлы.</li>
			<li>Хранить в связи контест-задача также номер задачи в контесте</li>
		</ol>
		<p>Задачи второй очереди</p>
		<ol>
			<li>
				Автоматически понимать, какой файл мне загрузили, и, если возможно, компилировать tex для поддержки polygon-like условий.
			</li>
			<li>Заменить выбор тега и задачи из выпадающего списка на что-то более удобное</li>
			<li>Ввести группы контестов. Группы должны уметь объединятся с другими группами и контестами, чтобы было удобно хранить ЛОШ-контесты, а также всякие петрозаводские сборы и опентрейнсы.</li>
			<li>Сейчас не для всех задач верно, что если у них есть тег, то есть также все предки этого тега. Это произошло потому что я добавил этот функционал несколько позже. Нужно исправить. Исправлять до устаканивания дерева тегов не имеет смысла, поэтому отложил на второй план.</li>
			<li>Научиться красиво вычленять тематические контесты</li>
			<li>Перейти с просто javascript на typescript или что-то подобное</li>
		</ol>
		<p>Далекие задачи</p>
		<ol>
			<li>Подбирать сложность не интуитивно, придумать формулу</li>
			<li>Написать скрипты, которые научатся автоматически ставить оценку в ЛОШ всем. Не совсем про эту базу, но см. следующий пункт</li>
			<li>Поддерживать список участников - кто в каком контесте принимал участие</li>
			<li>Соответственно, поддерживать положение участников</li>
		</ol>
		<p>Наполеоновские планы</p>
		<ol>
			<li>Хранить не только условия, но и тесты, чекеры и тд. Создать свой полигон</li>
			<li>И свою тестирующую систему</li>
			<li><a href="https://xkcd.ru/927/">Фатальный недостаток</a></li>
		</ol>
	</div>
</body>
</html>